 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
$grid-columns: 12;

// Custom Styles

//BODY//////////////////////////////////////////////////////////////////////////////////////////////////////////////

body {
  background-image: url('../../images/kitchen.jpg');
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}

//HEADER////////////////////////////////////////////////////////////////////////////////////////////////////////////

.header {
  background-color: #d0d0d0;
  line-height: 50px;
  padding: 0 20px;
  position: fixed;
  @include span-columns(12);
}

.slogan {
  color: #a2a2a2;
  @include span-columns(4);

}

.title {
  color: #6c6c6c;
  font-style: bold;
  text-align: center;
  @include span-columns(4);

}

.utility {
  text-align: right;
  @include span-columns(4);

  .octicon {
    color: #a2a2a2;
    width: 32px;

  }

  .octicon:hover {
    color: #6c6c6c;
  }

  .flaticon {
    color: #a2a2a2;
    font-size: 18px;
    position: relative;
    right: 5px;
    top: 2px;

  }

  .flaticon:hover {
    color: #6c6c6c;
  }

}

//SIDEBAR///////////////////////////////////////////////////////////////////////////////////////////////////////////

.sidebar {
  background-color: #e6e6e6;
  height: 100%;
  margin-top: 52px;
  min-width: 150px;
  padding-bottom: 30px;
  padding-top: 30px;
  position: fixed;
  text-align: center;
  z-index: -1;
  @include span-columns(1.5);

}

.sidebar-title {
  color: #a2a2a2;
}

.sidebar-break {
  border-color: #a2a2a2;
  display: inline-block;
  margin: 20px 0;
  width: 50px;
}

//LOGIN/////////////////////////////////////////////////////////////////////////////////////////////////////////////

.login {
  background-color: #e6e6e6;
  margin: 100px auto;
  padding: 20px 60px;
  text-align: right;
  @include span-columns(8);
  @include shift(2);

  .login-input {
    height: 30px;
    width: 150px;
  }

  h2 {
    font-size: 14px;
    margin-bottom: -5px;
    margin-left: 202px;
    text-align: left;
  }

  span {
    font-weight: 500;
    margin-left: 6px;
  }

  .create-user-input {
    display: block;
    height: 40px;
    margin-left: 200px;
    width: 300px;
  }

  button {
    vertical-align: top;
  }
}

//WELCOME///////////////////////////////////////////////////////////////////////////////////////////////////////////

.welcome {
  background: #e6e6e6;
  height: 150px;
  margin: 100px auto;
  text-align: center;
  width: 600px;

  h2 {
    padding: 20px 20px 0;
  }

  .btn {
    float: center;
  }
}

//ADD RECIPE////////////////////////////////////////////////////////////////////////////////////////////////////////

.add-recipe {
  background: #e6e6e6;
  height: 854px;
  margin: 100px auto;
  padding: 20px;
  width: 600px;

  .img-recipe {
    background-color: #d0d0d0;
    float: left;
    height: 125px;
    width: 135px;
  }

  .details-input {
    height: 40px;
    margin-bottom: 14px;
    margin-right: 5px;

  }

  .checkbox {
    margin-bottom: 14px;
    margin-left: 20px;
    vertical-align: top;
  }

  .text {
    height: 150px;
    text-align: left;
    width: 555px;
  }

  .x-large {
    margin-left: 20px;
    width: 400px;
  }

  .large {
    width: 300px;
  }

  .medium {
    width: 170px;
  }

  .small {
    width: 100px;
  }

  .x-small {
    width: 50px;
  }

  span {
    margin-right: 7px;
    vertical-align: super;
  }

  .plus-sign {
    font-size: 25px;
    margin: 0;
    vertical-align: middle;
  }

  .btn {
    float: right;
    margin-bottom: 14px;
    margin-right: 5px;
    width: 150px;
  }

  .add {
    height: 40px;
    padding: 0;
    width: 32px;
  }



}
